name: Windows CI

on:
  workflow_dispatch:

permissions:
  contents: read


jobs:
  testing:
    name: Run tests on Windows
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "windows-2025" ]
        python-version: [ "3.13" ]
    steps:

    - uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v7


    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
